/* MARK: DESKTOP 
*/

@media (min-width: 1024px) {
  .trigram {
    display: none;
  }

  a:hover {
    color: #2476ff;
  }

  .button:hover,
  .play-video-button:hover {
    border: 2px solid #2476ff;
    color: #2476ff;
    background-color: white;
    transition: background-color 0.5s ease-in-out, width 0.5s ease-in-out,
      height 0.5s ease-in-out;
  }

  .play-video-button:hover i {
    color: #2476ff;
    background-color: white;
    transition: background-color 0.5s ease-in-out, width 0.5s ease-in-out,
      height 0.5s ease-in-out;
  }

  .empowering-teams-buttons a:hover {
    color: #2476ff;
  }

  .pricing-plan:hover {
    border: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.5s ease-in-out, width 0.5s ease-in-out,
      height 0.5s ease-in-out;
  }

  .privacy-links a:hover {
    color: #2476ff;
    text-decoration-color: #2476ff;
    background-image: linear-gradient(to right, #2476ff 1px, transparent 1px);
  }

  /* why front  */
  .lined-description {
    width: 80%;
  }
  /* price  */
  .price-plan {
    min-width: 350px;
  }

  .pricing-features {
    min-width: 60%;
  }
  /* hire us  */
  .hire-us-form {
    min-width: 450px;
  }
}

/* MARK: TABLET 
*/

@media (max-width: 1023px) {
  /* HEADER  */
  .trigram {
    display: block;
    font-size: x-large;
    color: #677788;
    background-color: #f6f8fa;
    border: none;
  }

  .top-navigation ul,
  .top-navigation .button {
    display: none;
  }

  /* EMP TEAMS  */
  .empowering-teams {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .empowering-teams-content {
    display: flex;
    flex: 1;
    text-align: center;
    align-items: center;
  }

  .empowering-teams-icons {
    position: relative;
    display: flex;
    flex: 2;
    flex-grow: 1;
    flex-shrink: 0;
    padding: 150px;
  }

  #i-google {
    position: absolute;
    left: 15%;
    top: 10%;
  }

  #i-altassian {
    position: absolute;
    left: 45%;
    top: 15%;
  }

  #i-asana {
    position: absolute;
    left: 80%;
    top: 10%;
  }

  #i-paypal {
    position: absolute;
    left: 20%;
    top: 50%;
  }

  #i-weave {
    position: absolute;
    left: 60%;
    top: 50%;
  }

  #i-google-ads {
    position: absolute;
    left: 35%;
    top: 85%;
  }

  #i-calendar {
    position: absolute;
    left: 72%;
    top: 90%;
  }
  .up,
  .left {
    animation: none !important;
  }

  /* WHY FRONT  */
  .why-front {
    margin-top: 300px;
  }
  .lined-description {
    width: 80%;
  }

  /* PRICING  */
  .pricing-plans-n-features {
    flex-direction: column;
  }

  .pricing-plan {
    /* margin: 50px 30px; */
    min-width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pricing-plan hr {
    width: 100%;
    flex-grow: 1;
  }

  .pricing-features {
    width: none;
  }
  .top-features,
  .bottom-features {
    width: auto;
  }

  /* HIRE US  */
  .hire-us {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .hire-us-reviews {
    display: flex;
    flex-direction: row;
  }

  .privacy-links {
    margin-left: 50px;
    justify-content: flex-start;
    gap: 35px;
  }

  /* FOOTER  */
  .footer-content {
    gap: 20px;
  }

  .tablet-footer {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .top-footer {
    display: flex;
    gap: 150px;
  }

  .bottom-footer {
    display: flex;
    gap: 100px;
  }
}

/* MARK: MOBILE 
*/

@media (max-width: 767px) {
  /* Emp Teams Icons  */
  #i-google {
    position: absolute;
    left: 5%;
    top: 10%;
  }

  #i-altassian {
    position: absolute;
    left: 40%;
    top: 15%;
  }

  #i-asana {
    position: absolute;
    left: 80%;
    top: 10%;
  }

  #i-paypal {
    position: absolute;
    left: 0;
    top: 50%;
  }

  #i-weave {
    position: absolute;
    left: 60%;
    top: 50%;
  }

  #i-google-ads {
    position: absolute;
    left: 30%;
    top: 85%;
  }

  #i-calendar {
    position: absolute;
    left: 80%;
    top: 90%;
  }

  /* Why Front  */

  .lined-description {
    margin-left: 30%;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
  }

  .description {
    flex-direction: row;
    justify-content: flex-start;
  }

  /* Pricing   */

  .feature {
    width: 100%;
  }

  .top-features,
  .bottom-features {
    flex-direction: column;
  }

  /* Hire Us  */
  .hire-us-reviews,
  .profile-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  /* .hire-us-form {
    width: auto;
  } */

  .form-names {
    display: flex;
    flex-wrap: wrap;
  }

  /* FOOTER  */
  .footer-content,
  .top-footer,
  .bottom-footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 35px;
  }
}

/* COLORS 
GREY
#677788

BLUE
#2476ff
*/
