* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;

  font-size: 16px;
  min-width: 360px;
}

.content {
  max-width: 1400px;
  padding: 15px 30px;
  margin: 0 auto;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #677788;
}

/* MARK: Reusables
 */
.button {
  font-weight: bold;
  color: white;
  background-color: #2476ff;
  padding: 13px 25px;
  border: 2px solid #2476ff;
  border-radius: 50px;
}

.play-video-button {
  max-width: 180px;
  display: flex;
  font-weight: bold;
  color: white;
  background-color: #2476ff;
  padding: 13px 25px;
  border: 3px solid #2476ff;
  border-radius: 50px;
}

.play-video-button i {
  font-size: 17px;
  color: white;
  margin-right: 10px;
}

.titles {
  text-align: center;
  margin-bottom: 15px;
}

.descriptions {
  text-align: center;
  color: #677788;
}

/* MARK: Header
*/

header {
  background-color: #f6f8fa;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 40px;
  height: 40px;
  display: flex;
}

.top-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
}

.top-navigation ul {
  padding: 0;
  list-style-type: none;
  /* ------  */
  display: flex;
  flex-direction: row;
  gap: 35px;
}

/* MARK: Emp. Teams Content
*/
.bg-img {
  background-image: url(/assets/bg/background-top.svg);
  height: 500px;
  margin: 0;
}

.empowering-teams {
  display: flex;
}

.empowering-teams-content {
  margin-top: 60px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
}

.empowering-teams-content p {
  color: #677788;
  padding-top: 10px;
}

.empowering-teams-content h1 {
  font-weight: 350;
  font-size: 60px;
  line-height: 60px;
}

.empowering-teams-buttons {
  padding-top: 35px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.empowering-teams-buttons a {
  text-decoration: none;
  color: #677788;
  font-weight: bold;
}

.empowering-teams-buttons {
  display: flex;
}

.empowering-teams-icons {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex: 2;
  gap: 5px;
}

/* MARK: Emp. Teams Logos
*/
.img-icons {
  object-fit: contain;
  width: 90px;
  height: 90px;
  padding: 20px;
  border-radius: 50%;
  overflow: visible;
  background-color: white;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
}

.img-icons img {
  width: 100%;
  height: 100%;
  position: relative;
  object-fit: contain;
}

.sml {
  object-fit: contain;

  width: 70px;
  height: 70px;
  padding: 10px;
}

#i-google {
  position: absolute;
  left: 25%;
  top: 10%;
}

#i-altassian {
  position: absolute;
  left: 50%;
  top: 15%;
}

#i-asana {
  position: absolute;
  left: 90%;
  top: 10%;
}

#i-paypal {
  position: absolute;
  left: 23%;
  top: 58%;
}

#i-weave {
  position: absolute;
  left: 65%;
  top: 60%;
}

#i-google-ads {
  position: absolute;
  left: 40%;
  top: 90%;
}

#i-calendar {
  position: absolute;
  left: 80%;
  top: 99%;
}

/* MARK: Why Front
*/
.why-front {
  display: flex;
  margin-top: 35px;
  flex-direction: column;
  gap: 80px;
}

.why-front-content {
  display: flex;
  flex-direction: column;
}

.lined-description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: 80%; */
  margin: 40px auto;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 15px;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(59, 130, 246, 0.1);

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.circle::after {
  content: "";
  width: 4px;
  height: 4px;
  background: #2476ff;
  border-radius: 50%;
}

.line {
  flex: 1;
  height: 2px;
  background-color: rgba(59, 130, 246, 0.1);
  margin: 0;
  margin-bottom: 30px;
}

/* MARK: Pricing
*/
.pricing {
  display: flex;
  flex-direction: column;
  gap: 45px;
  margin: 100px auto;
}

.pricing-plans-n-features {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

/* !!! min-width  here or just on tablet ? */
.pricing-plan {
  border: 1px solid #babbbb;
  padding: 90px 35px 70px 35px;
  color: #677788;
  line-height: 25px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 35px;
}

.price {
  display: flex;
  align-items: flex-end;
  color: black;
}

.amount {
  font-size: 50px;
  font-weight: 400;
}

.unit {
  margin-left: 5px;
  margin-bottom: -9px;
  color: #677788;
}

.button-small-text {
  line-height: 35px;
  font-size: small;
  margin-top: 35px;
}

.pricing-features {
  display: flex;
  flex-direction: column;
  flex: 3;
  justify-content: center;
  width: 100%;
}

.top-features,
.bottom-features {
  display: flex;
  justify-content: space-evenly;
}

.feature {
  width: 350px;
  padding: 15px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 25px;
}

.features-images {
  height: 60px;
  width: 60px;
}

.sketch {
  padding: 5px 15px 5px;
  margin-left: 5px;
  color: white;
  background-color: #01c9a7;
  border-radius: 40px;
  font-size: small;
  font-weight: 400;
}

/* MARK: Hire Us
*/

.hire-us-bckgd {
  background-color: #20335b;
}

.hire-us {
  padding: 50px;
  display: flex;
  gap: 100px;
}

.hire-us-reviews {
  color: #ffffff;
  padding: 80px 100px 80px 50px;

  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 50px;
}

.hire-us-title {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.gray {
  color: #677788;
}

.review {
  color: #ffffff;

  font-style: italic;
}

.hire-us-form {
  flex: 1;
}

.profile-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.profile-content img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.form-title {
  font-weight: 600;
}

input,
select {
  height: 40px;
  padding: 10px;
}

select {
  font-weight: bold;
}

.hire-us-form {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 15px;
}

.form-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.form-names {
  width: 100%;

  display: flex;
  gap: 20px;
}

.form-names input {
  flex: 1;
}

.form-budget-country {
  width: 100%;
  display: flex;
  gap: 20px;
}

.form-budget-country select {
  flex: 1;
}

textarea {
  color: grey;
  padding: 10px;
}

.radio-label {
  color: gray;
  display: flex;
  gap: 20px;
}

input[type="checkbox"] {
  width: 30px;
  height: 30px;
}

.privacy-links {
  display: flex;
  justify-content: space-around;
}

.privacy-links a {
  margin-bottom: 15px;
  font-weight: 500;
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-thickness: 1px;
  text-underline-offset: 6px;
  color: rgb(99, 97, 97);
  /* ------  */
  text-decoration: none; /* Remove default underline */
  border-bottom: none; /* Remove default border if present */
  background-image: linear-gradient(
    to right,
    rgb(99, 97, 97) 1px,
    transparent 1px
  );
  background-size: 8px 1px; /* Adjust the first value (8px) for dot spacing */
  background-repeat: repeat-x;
  background-position: 0 95%;
}

form > button {
  margin: 15px auto;
}

/* MARK: Footer
*/

.footer-content {
  padding: 50px 0;
  display: flex;
  justify-content: space-evenly;
}

.tablet-footer,
.top-footer,
.bottom-footer {
  display: flex;
  gap: 90px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.column h2 {
  margin-bottom: 15px;
}

/* .tablet-footer {
  padding: 0 5px;
} */
.footer-logo img {
  width: 135px;
  height: 40px;
  padding-bottom: 5px;
  margin-bottom: 3px;
}

.fa-solid {
  color: #677788;
  margin: 0 10px;
}

.address:hover {
  color: #2476ff;
}

.hiring {
  background-color: #2476ff;
  color: white;
  font-size: xx-small;
  padding: 2px 5px;
  margin: 0 5px;
  border-radius: 3px;
}
